.text-shadow {
    text-shadow: 
        1px 1px 0px #000,
        -1px -1px 0px #000,
        1px -1px 0px #000,
        -1px 1px 0px #000;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

footer a {
    text-decoration: none; /* Supprime tout soulignement ou bordure */
    display: inline-flex;  /* Assure un alignement propre des icônes */
    align-items: center;  
    justify-content: center;
}

footer a i {
    font-size: 24px;  /* Ajuste la taille des icônes */
    margin: 0 10px;   /* Ajoute un espacement propre entre les icônes */
    vertical-align: middle;
}

.card {
    transform: scale(1); /* Réduit à 90% */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.1); /* Effet de zoom au survol */
}
